body {
	background: url(../images/bg1.jpg) no-repeat 0px 0px;
	font-family: 'Open Sans', sans-serif;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height: 1050px;
}

/* @font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
      url('iconfont.woff2') format('woff2'),
      url('iconfont.woff') format('woff'),
      url('iconfont.ttf') format('truetype'),
      url('iconfont.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

h2 {
	text-align: center;
}

#login-form {
	background: #a1afc9;
	position: relative;
	width: 400px;
	margin: 40px auto 0 auto;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
}

#regist-form {
	background: #a1afc9;
	position: relative;
	width: 500px;
	margin: 40px auto 0 auto;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
}

#avtar {
	text-align: center;
}

#name_msg, #pwd_msg {
	color: red;
}

#regist_name_msg, #regist_pwd_msg {
	color: red;
}

.tips {
	margin-left: 10%;
	text-align: left;
	font: 300 12px/16px '微软雅黑';
	color: #f00;
	height: 20px;
}

.item {
	margin: 4px auto;
	text-align: left;
	font: 300 16px/26px '微软雅黑';
	position: relative;
	overflow: hidden;
	padding-bottom: 6px;
	border-bottom: 1px solid #8c9aa7;
}

.item span {
	text-align: center;
    float: left;
    width: 20px;
    color: #5a5a5a;
    margin: 0 16px;
}

.item input {
	font-size: 16px;
	float: left;
	width: calc(100% - 54px);
	height: 24px;
	border: 0 none;
	outline: 0 none;
	background: transparent;
	text-indent: 4px;
	color: #757575;
}

.item.iconCheck::after{
   	font-family: "iconfont" !important;
    font-size: 18px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e6a2";
    color: green;
    font-weight: 900;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 4px;
}
.item.iconError::after{
   	font-family: "iconfont" !important;
    font-size: 18px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e6a1";
    color: red;
    font-weight: 900;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 4px;
}

.btn-div {
	padding: 10px;
	text-align: center;
}

.btn-div button {
	border: 0 none;
	font-size: 16px;
	border-radius: 4px;
	padding: 4px 12px;
	background: #3d3e3c;
	color: #eee;
}

.btn-div button:hover {
	background: #037316;
	color: #eee;
}